<%- include('header.ejs') %>
    <h1>首頁</h1>
    <h2><%=time%></h2>
    <% if(blogs.length) { %>
        <% blogs.forEach(articles => { %>
            <h3>標題 : <%=articles.title%></h3>
            <p>作者 : <%=articles.author%></p>
        <% }) %>
    <% } %>
    <script src=""></script>
<%- include('footer.ejs') %>